.course-container {
    background: url('../images/img-home.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 1000px #fff (0, 0, 0, 0.2);
    object-fit: contain;
}

.course-header {
    color: red;
}

.sign-up-button {
    position: static;
}

.input-label {
    color: #fff;
}

.form-header {
    color: #fff;
}